@import url(../../bower_components/normalize.css/normalize.css);
@import url(../../bower_components/fontawesome/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Muli);
.curiosity-blue {
  background: -webkit-linear-gradient(#525252 10%, #3d72b4 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#525252 10%, #3d72b4 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#525252 10%, #3d72b4 90%);
  /* IE10 */
  background: -o-linear-gradient(#525252 10%, #3d72b4 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#525252 10%, #3d72b4 90%);
  /* W3C */
}

.ukraine {
  background: -webkit-linear-gradient(#004FF9 10%, #FFF94C 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#004FF9 10%, #FFF94C 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#004FF9 10%, #FFF94C 90%);
  /* IE10 */
  background: -o-linear-gradient(#004FF9 10%, #FFF94C 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#004FF9 10%, #FFF94C 90%);
  /* W3C */
}

.green-to-dark {
  background: -webkit-linear-gradient(#6A9113 10%, #141517 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#6A9113 10%, #141517 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#6A9113 10%, #141517 90%);
  /* IE10 */
  background: -o-linear-gradient(#6A9113 10%, #141517 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#6A9113 10%, #141517 90%);
  /* W3C */
}

.fresh-turboscent {
  background: -webkit-linear-gradient(#F1F2B5 10%, #135058 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#F1F2B5 10%, #135058 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#F1F2B5 10%, #135058 90%);
  /* IE10 */
  background: -o-linear-gradient(#F1F2B5 10%, #135058 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#F1F2B5 10%, #135058 90%);
  /* W3C */
}

.koko-caramel {
  background: -webkit-linear-gradient(#FFD194 10%, #D1913C 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#FFD194 10%, #D1913C 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#FFD194 10%, #D1913C 90%);
  /* IE10 */
  background: -o-linear-gradient(#FFD194 10%, #D1913C 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#FFD194 10%, #D1913C 90%);
  /* W3C */
}

.virgin-america {
  background: -webkit-linear-gradient(#7b4397 10%, #dc2430 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#7b4397 10%, #dc2430 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#7b4397 10%, #dc2430 90%);
  /* IE10 */
  background: -o-linear-gradient(#7b4397 10%, #dc2430 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#7b4397 10%, #dc2430 90%);
  /* W3C */
}

.portrait {
  background: -webkit-linear-gradient(#eef2f3 10%, #8e9eab 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#eef2f3 10%, #8e9eab 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#eef2f3 10%, #8e9eab 90%);
  /* IE10 */
  background: -o-linear-gradient(#eef2f3 10%, #8e9eab 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#eef2f3 10%, #8e9eab 90%);
  /* W3C */
}

.turquoise-flow {
  background: -webkit-linear-gradient(#136a8a 10%, #267871 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#136a8a 10%, #267871 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#136a8a 10%, #267871 90%);
  /* IE10 */
  background: -o-linear-gradient(#136a8a 10%, #267871 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#136a8a 10%, #267871 90%);
  /* W3C */
}

.vine {
  background: -webkit-linear-gradient(#00bf8f 10%, #001510 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#00bf8f 10%, #001510 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#00bf8f 10%, #001510 90%);
  /* IE10 */
  background: -o-linear-gradient(#00bf8f 10%, #001510 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#00bf8f 10%, #001510 90%);
  /* W3C */
}

.flickr {
  background: -webkit-linear-gradient(#ff0084 10%, #33001b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#ff0084 10%, #33001b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#ff0084 10%, #33001b 90%);
  /* IE10 */
  background: -o-linear-gradient(#ff0084 10%, #33001b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#ff0084 10%, #33001b 90%);
  /* W3C */
}

.instagram {
  background: -webkit-linear-gradient(#517fa4 10%, #33001b 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#517fa4 10%, #33001b 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#517fa4 10%, #33001b 90%);
  /* IE10 */
  background: -o-linear-gradient(#517fa4 10%, #33001b 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#517fa4 10%, #33001b 90%);
  /* W3C */
}

.sunrise {
  background: -webkit-linear-gradient(#F09819 10%, #FF512F 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#F09819 10%, #FF512F 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#F09819 10%, #FF512F 90%);
  /* IE10 */
  background: -o-linear-gradient(#F09819 10%, #FF512F 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#F09819 10%, #FF512F 90%);
  /* W3C */
}

.aqua-marine {
  background: -webkit-linear-gradient(#26D0CE 10%, #1A2980 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#26D0CE 10%, #1A2980 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#26D0CE 10%, #1A2980 90%);
  /* IE10 */
  background: -o-linear-gradient(#26D0CE 10%, #1A2980 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#26D0CE 10%, #1A2980 90%);
  /* W3C */
}

.aubergine {
  background: -webkit-linear-gradient(#AA076B 10%, #61045F 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#AA076B 10%, #61045F 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#AA076B 10%, #61045F 90%);
  /* IE10 */
  background: -o-linear-gradient(#AA076B 10%, #61045F 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#AA076B 10%, #61045F 90%);
  /* W3C */
}

.bloody-mary {
  background: -webkit-linear-gradient(#FF512F 10%, #DD2476 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#FF512F 10%, #DD2476 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#FF512F 10%, #DD2476 90%);
  /* IE10 */
  background: -o-linear-gradient(#FF512F 10%, #DD2476 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#FF512F 10%, #DD2476 90%);
  /* W3C */
}

.pastel-orange-at-the-sun {
  background: -webkit-linear-gradient(#ffcc33 10%, #ffb347 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#ffcc33 10%, #ffb347 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#ffcc33 10%, #ffb347 90%);
  /* IE10 */
  background: -o-linear-gradient(#ffcc33 10%, #ffb347 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#ffcc33 10%, #ffb347 90%);
  /* W3C */
}

.endless-river {
  background: -webkit-linear-gradient(#43cea2 10%, #185a9d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#43cea2 10%, #185a9d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#43cea2 10%, #185a9d 90%);
  /* IE10 */
  background: -o-linear-gradient(#43cea2 10%, #185a9d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#43cea2 10%, #185a9d 90%);
  /* W3C */
}

.predawn {
  background: -webkit-linear-gradient(#FFA17F 10%, #00223E 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#FFA17F 10%, #00223E 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#FFA17F 10%, #00223E 90%);
  /* IE10 */
  background: -o-linear-gradient(#FFA17F 10%, #00223E 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#FFA17F 10%, #00223E 90%);
  /* W3C */
}

.purple-bliss {
  background: -webkit-linear-gradient(#360033 10%, #0b8793 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#360033 10%, #0b8793 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#360033 10%, #0b8793 90%);
  /* IE10 */
  background: -o-linear-gradient(#360033 10%, #0b8793 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#360033 10%, #0b8793 90%);
  /* W3C */
}

.talking-to-mice-elf {
  background: -webkit-linear-gradient(#948E99 10%, #2E1437 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#948E99 10%, #2E1437 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#948E99 10%, #2E1437 90%);
  /* IE10 */
  background: -o-linear-gradient(#948E99 10%, #2E1437 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#948E99 10%, #2E1437 90%);
  /* W3C */
}

.hersheys {
  background: -webkit-linear-gradient(#9a8478 10%, #1e130c 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#9a8478 10%, #1e130c 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#9a8478 10%, #1e130c 90%);
  /* IE10 */
  background: -o-linear-gradient(#9a8478 10%, #1e130c 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#9a8478 10%, #1e130c 90%);
  /* W3C */
}

.crazy-orange-i {
  background: -webkit-linear-gradient(#D38312 10%, #A83279 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#D38312 10%, #A83279 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#D38312 10%, #A83279 90%);
  /* IE10 */
  background: -o-linear-gradient(#D38312 10%, #A83279 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#D38312 10%, #A83279 90%);
  /* W3C */
}

.between-the-clouds {
  background: -webkit-linear-gradient(#73C8A9 10%, #373B44 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#73C8A9 10%, #373B44 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#73C8A9 10%, #373B44 90%);
  /* IE10 */
  background: -o-linear-gradient(#73C8A9 10%, #373B44 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#73C8A9 10%, #373B44 90%);
  /* W3C */
}

.calm-darya {
  background: -webkit-linear-gradient(#5f2c82 10%, #49a09d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#5f2c82 10%, #49a09d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#5f2c82 10%, #49a09d 90%);
  /* IE10 */
  background: -o-linear-gradient(#5f2c82 10%, #49a09d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#5f2c82 10%, #49a09d 90%);
  /* W3C */
}

.lemon-twist {
  background: -webkit-linear-gradient(#3CA55C 10%, #B5AC49 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(#3CA55C 10%, #B5AC49 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(#3CA55C 10%, #B5AC49 90%);
  /* IE10 */
  background: -o-linear-gradient(#3CA55C 10%, #B5AC49 90%);
  /* Opera 11.10+ */
  background: linear-gradient(#3CA55C 10%, #B5AC49 90%);
  /* W3C */
}

html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  color: white;
}

.container {
  position: absolute;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .container {
    left: 5%;
    width: 90%;
    height: 65%;
    top: 15%;
  }
}
@media screen and (min-width: 720px) {
  .container {
    left: 25%;
    width: 50%;
    height: 50%;
    top: 25%;
  }
}

.logo {
  margin-bottom: 40px;
}

.list {
  margin-bottom: 40px;
}

.follow-me {
  text-transform: uppercase;
  font-size: .7em;
}

.icons {
  font-size: 2em;
  margin: 0;
}
.icons .fa {
  margin-left: 5px;
  margin-right: 5px;
}
.icons a {
  color: white;
}

/*# sourceMappingURL=main.css.map */
